html,
body {       
  font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
        color: gray;

      }


.container {
    position: relative;

}

footer {
  text-align: center;
  height: 40px;
  margin-top: 15px;

}


input {
    font-size: 12px;

}


h1 {
    color: white;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
    padding-top: 32px;

}


.highlight {
    color: #9400D3;

}


#map {
    bottom:0px;
    height: 100%;
    top: ;
    position: ;
    right: 0px;

}


#pano {
    width: 200px;
    height: 200px;

}


.text {
    font-size: 12px;

}


input[type="text"] {
    padding: 4px;
    height: 25px;
    width: 100%;

} 


ul {
    list-style-type: none;

}
